
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<IstanbulUni.DAL.Model.User>



<script src="~/Scripts/kendo/2021.2.616/jquery.min.js"></script>

<script src="~/Scripts/kendo/2021.2.616/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/2021.2.616/kendo.aspnetmvc.min.js"></script>
@{Html.RenderAction("Chart", "Home");}
<div class="row">
    <div class="col-md-12">
        <div class="card card-widget">
            <div class="card-footer card-comments">
                @foreach (var item in Model)
                {
                    <br />
                    <img class="img-circle img-sm" src="~/Content/Main/dist/img/user1-128x128.jpg" alt="User Image">
                    <div class="card-comment">
                        <div class="comment-text">
                            <span class="username">
                                İsim: @item.Name Soy isim: @item.Surname
                                <span class="text-muted float-right">@item.lastActivity</span>
                            </span>
                        </div>

                    </div>
                    <br />
                }

            </div>
        </div>

    </div>
</div>
