
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<IstanbulUni.DAL.Model.WebMaster>


@{

}
<script src="~/Scripts/kendo/2021.2.616/jquery.min.js"></script>

<script src="~/Scripts/kendo/2021.2.616/kendo.all.min.js"></script>
<script src="~/Scripts/kendo/2021.2.616/kendo.aspnetmvc.min.js"></script>

@{Html.RenderAction("ToplamChart", "Home");}
<br />
<hr />
<br />
@{Html.RenderAction("Chart", "Home");}
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <div class="card card-widget">
            @foreach (var item in Model)
            {
                <div class="card-footer card-comments">


                    <img class="img-circle img-sm" src="~/Content/Main/Logo/logo_tr_eng-a4-40.png" alt="User Image">
                    <div class="card-comment">
                        <div class="comment-text">
                            <span class="">
                                <b>@item.User.Name</b>  <br /><br />
                                Domain Adı: <b> @item.DomainName </b>  <br />   Atanan İsim: <b>@item.Name</b>  <br />
                                <span class="text-muted float-right">Atama Zamanı: @item.createTime</span>
                            </span>
                        </div>


                    </div>
                    <br />



                </div>
                <hr />  
            }
        </div>

    </div>
</div>
