
@{
    ViewBag.Title = "Read_Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<IstanbulUni.DAL.Model.WebMaster>
<div class="demo-section wide">
    @(Html.Kendo().Chart<IstanbulUni.DAL.Model.WebMaster>()
        .Name("chart")
        .Title("Spain electricity production (GWh)")
        .Legend(legend => legend
            .Position(ChartLegendPosition.Top)
        )
        .DataSource(ds => ds.Read(read => read.Action("Read_Chart", "Home")))
        .Series(series => {
            series.Line(model => model.DomainName).Name("DomainName").CategoryField("Year");
        })
        .CategoryAxis(axis => axis
            .Labels(labels => labels.Rotation(-90))
            .Crosshair(c => c.Visible(true))
        )
        .ValueAxis(axis => axis.Numeric()
            .Labels(labels => labels.Format("{0:N0}"))
            .MajorUnit(10000)
        )
        .Tooltip(tooltip => tooltip
            .Visible(true)
            .Shared(true)
            .Format("{0:N0}")
        )
    )
</div>