
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/Content/Main/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- icheck bootstrap -->
    <link href="~/Content/Main/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/Main/dist/css/adminlte.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page" style="background-color: #13263d !important" >
    <div class="login-box">

        <div class="row">
            <div class="col-lg-12 bg-login-image">
                <img src="~/Content/Main/Logo/logo_zemin-05.png" class="img-fluid" />
            </div>
        </div>
        <br />
        <br />
        <div class="login-logo col-lg-12">

            <p>Web Master Envanteri</p>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                @RenderBody()
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->
    <!-- jQuery -->
   
    <!-- Bootstrap 4 -->
    <script src="~/Content/Main/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/Main/dist/js/adminlte.min.js"></script>
</body>
</html>
<style>
    body {
        background-color: #13263d !important;
        color:white;
    }
    .card {
        background-color: #13263d !important;
    }
</style>